body{
    background-image: url("/images/background.jpg");
    color: white;

}

h1 {
    margin-left: 250px;
    font-size: 40px;
    color: white;
   }

#genreheader{
    margin-left: 250px;
    font-size: 25px;
    color: white;
}

p{
    margin-left: 250px;
    color: white;
}

#reviewheader{
    margin-left: 250px;
    font-size: 25px;
    color: white;

}

img{
    margin-left: 250px;
}

a{
    color: white;
}
