<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="reviews-style.css">
</head>
    <title> reviews</title>
    <head> 
        <body>
            <h1  id="mainheader">Ryan's Movie Reviews</h1>

            <div th:each="review: ${reviews}">
                <li>
                   <a th:href="@{/review(id=${review.id})}" th:text="${review.title}"></a>
                </li>
            </div>
        </body>
    </head>
    
    

</html>